.cardS3{
    border-radius: 7px;
    display: grid;
    grid-template-columns: 150px 200px;
    grid-template-rows: 150px;
    position: relative;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    margin-bottom: 30px;
    cursor: pointer;
    padding: 10px;
}

.cardS3:hover{
    background: linear-gradient(to right, #b22702 , #f24007);
}

.textCardS3{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}