.whatsAppContact{
    background-color: #00bb2d  !important;
    color: white !important;
    font-size: 50px !important;
}
.buttonsContact{
    background-color: #f24007  !important;
    color: white !important;

}
 